
/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */

a, button{ display: inline-block; text-decoration: none; color: inherit; line-height: 1;
	-webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out; }

/*
a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #FFA804; }
*/

b{ font-weight: 600; }

img{ width: 100%; }

ul.social-icons li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; border-radius: 50%; }

.icon{ font-size: 1.1em; display: inline-block; line-height: inherit; }

[class^="icon-"]:before, [class*=" icon-"]:before{ line-height: inherit; }

b.max-bold{ font-weight: 700; }



/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

/*
.section{ padding: 0px 0 50px; }
*/

/*
.section .heading{ margin-bottom: 60px; }
*/

/*
.section .heading:before{ content:''; height: 10px; width: 50px; border-radius: 5px;
	margin-bottom: 20px; display: block; background: #FFA804; }
*/

.margin-t-10{ margin-top: 10px; }

.margin-b-30{ margin-bottom: 30px; }
.margin-b-50{ margin-bottom: 50px; }

.margin-tb-30{ margin-top: 30px; margin-bottom: 30px; }

.font-red{ color: #ef6c57 !important; }

.font-semi-white{ color: #ddd; }

.font-lite-black{ color: #999; }


/* ---------------------------------
4. INTRO SECTION
--------------------------------- */

/*
.intro-section{ padding-top: 60px; position: relative; background-size: cover;
	z-index: 1;background-image: url(../../images/slider-1-1920x1080.jpg); }

.intro-section:before{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; left: 0;
	right: 0; background: rgba(0,0,0, .2); }

.intro-section:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0;
	height: 150px; z-index: -1; background: #fff; }
*/

.intro{ margin-top: 40px; text-align: center; background: #fff; }

.intro .profile-img{ height: 200px; width: 200px; border-radius: 100px; margin: 0 auto; bottom: 10px;
	overflow: hidden; position: relative; background-color: black }

.user-full-name{
text-transform: uppercase;
}
/*
.intro .information > li{ display: block; margin: 5px 0; }

.intro .social-icons > li > a{ height: 35px; line-height: 35px; width: 35px; border-radius: 20px;
	overflow: hidden; z-index: 1; position: relative; padding: 8lazyloadpx ;margin: 2px 2px 2px; background: #887392; color: #fff; }

.intro .social-icons > li > a:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0;
	top: 0; z-index: -1; border-radius: 20px; background: #FFA804;
	-webkit-transition: all .2s ease; transition: all .2s ease;
	-webkit-transform: scale(0); transform: scale(0); }

.intro .social-icons > li > a:hover:after{ -webkit-transform: scale(1); transform: scale(1); }

*/

/* ---------------------------------
6. ABOUT SECTION
--------------------------------- */

/*
.radial-progress{ position: relative; max-width: 200px; margin: 0 auto; }

.radial-progress .progressbar-text{ font-size: 2.2em; font-weight: 500;
	padding-bottom: 25px!important; color: #333!important; }

.radial-progress .progressbar-text:after{ content:'%'; }

.radial-progress .progress-title{ position: absolute; top: 50%; left: 50%; width: 100%;
	letter-spacing: 0; text-align: center; transform: translate(-50%, 15px); color: #777; }
*/



/* ---------------------------------
7. EXPERIENCE SECTION
--------------------------------- */

/*
.experience-section{ background: #28023D; color: #fff; }

.experience .list > li{ display: block; position: relative; margin-bottom: 10px; padding-left: 20px; }

.experience .list > li:before{ content: ''; position: absolute; top: 50%; left: 0; height: 10px;
	width: 10px; margin-top: -5px; display: block; border-radius: 10px; border: 2px solid #fff; }

*/

/* ---------------------------------
8. EDUCATION SECTION
--------------------------------- */

/*
.education-wrapper{ position: relative; }

.education-wrapper:after{ content:''; position: absolute; top: 8px; bottom: 0; left: -51px;
	width: 2px; background: #ccc; }

.education-wrapper .education{ position: relative; }

.education-wrapper .education:after{ content:''; position: absolute; top: 8px; left: -58px; width: 16px;
	height: 16px; border-radius: 10px; z-index: 1;
	box-shadow: 0 0 0 8px rgba(255,171,0, .4); background: #FFAB00; }

*/

/* ---------------------------------
9. COUNTER SECTION
--------------------------------- */

/*
.counter-section{ position: relative; padding: 100px 0 70px; background-size: cover; z-index: 1;
	background-image: url(../../images/slider-2-1920x600.jpg); color: #fff; }

.counter-section:after{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; left: 0;
	right: 0; background: rgba(0,0,0, .2); }

.counter{ position: relative; }

.counter .title{ text-align: right; margin-right: 130px; }

.counter .desc{ position: absolute; bottom: 4px; right: 0px; width: 110px; }
*/


/* RADIAL PREOGRESS SECTION */


/*
.radial-progress{ position: relative; max-width: 200px; margin: 0 auto; }

.radial-progress .progressbar-text{ font-size: 2.2em; font-weight: 500;
	padding-bottom: 25px!important; color: #333!important; }

.radial-progress .progressbar-text:after{ content:'%'; }

.radial-progress .progress-title{ position: absolute; top: 50%; left: 50%; width: 100%;
	letter-spacing: 0; text-align: center; transform: translate(-50%, 15px); color: #777; }



.copyright{ text-align: center; padding: 30px 0; background: #28023D; }
*/


div.form-group div.form-row{
padding:10px 10px 10px 10px;
}

div.form-group div.form-row .form-control-file{
width:100%;
}


div.profile_data{
padding-bottom: 15px;
width: 100%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    color: #ef6c57 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-radius: 5px;
    color: white !important;
    background-color: #ef6c57 !important;
}


/* Style the Image Used to Trigger the Modal */
.img_container{
cursor: pointer;
width: 15%;
}

.img_container:hover {opacity: 0.7;}


/* The Modal (background) */
#imagemodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  /*z-index: 1;*/ /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#imagemodal .modal-content{
  width: 100%;
  margin: auto;
  display: block;
/*  width: 80%;
  max-width: 800px;*/
}

#imagemodal .modal-body{
    padding:0px;
}
/* Add Animation - Zoom in the Modal */
#imagemodal .modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
/*#imagemodal #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 5px 0;
}

#imagemodal #caption span.material-icons {
  cursor: pointer !important;
    color: grey !important;
}

#imagemodal #caption span.material-icons:hover {
    color: black !important;
}*/

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* 100% Image Width on Smaller Screens */
/*
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
*/

/* Style the button and place it in the middle of the container/image */

.img_container span.material-icons {
    cursor: pointer !important;
    color: grey !important;
    margin-left: 40% !important
}

.img_container span.material-icons:hover {
    color: black !important;
}

div.card-body span.img_container{
padding: 1px
}

div.main-content .material-icons.md-18 { font-size: 18px; }
div.main-content .material-icons.md-36 { font-size: 36px; }
div.main-content .material-icons.md-48 { font-size: 48px; }

input.profile-upload{
    display: none;
}

.profile-image-upload{
    display: inline-block;
    cursor: pointer;
}

.change-password-modal{
width: 300px;
padding: 40px;
}

.change-password-icon{
float: right;
margin: 20px;
cursor: pointer;
color: #ffbb33;
}


.header-line{
    text-align: center;
    align-item: center;
    background-color: grey !important;
    color: white !important;
}

.header-line h3.align-header{
    margin: auto;
}

.upload-image-form .form-control, .upload-image-form .form-control-file{
    width: 60%;
}

.upload-image-form .md-form .form-control {
    margin: 8px 0px 0.5rem 0;
}

#changePassModaltop{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#uploadfile{
margin: 0 !important;
}



@media (min-width: 991.98px) {

ul.nav-tabs{
    padding: 15px 15px 15px 15px;
    margin-left: 32%;
}

}


@media (max-width: 991.98px) {

ul.nav-tabs{
    padding: 15px 15px 15px 15px;
}

}