{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Font-->

<!--	<link rel="stylesheet" type="text/css" href="{% static 'css/main-login.css' %}">-->
<!--	<link rel="stylesheet" type="text/css" href="{% static 'fonts/line-awesome/css/line-awesome.min.css' %}">-->
<!-- Jquery -->
<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
<!-- Main Style Css -->
<link rel="stylesheet" href="{% static 'css/register/style-register.css' %}"/>

<div class="register-form">

	<!-- Default form register -->
	<form class="text-center border border-light p-5 " action="{% url 'register' %}" method="post" autocomplete="off" id="register_form">
		{% csrf_token %}

		<p class="h2 mb-4">Sign up</p>

		<div class="form-row mb-3">
			<div class="col">
				<!-- First name -->
				<input type="text" name="first_name" id="first_name"
					   class="form-control text-capitalize" placeholder="First name" pattern="[A-Za-z]{2,15}" value="{{values.first_name}}" required>
			</div>
			<div class="col">
				<!-- Last name -->
				<input type="text" name="last_name" id="last_name" class="form-control text-capitalize"
					   placeholder="Last name" pattern="[A-Za-z]{2,15}" required>
			</div>
		</div>

		<div class="form-row mb-3 pl-1 pr-1">
			<!-- Username -->
			<input type="text" name="username" id="username" class="form-control mb-3 text-lowercase" placeholder="Username"
				   pattern="[a-z\d._-]+$" onkeyup="return forceLower(this);" required>
		</div>
		<div class="form-row mb-3 pl-1 pr-1">
			<!-- E-mail -->
			<input type="text" name="email" id="email" class="form-control mb-3 text-lowercase" placeholder="E-mail"
				   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" onkeyup="return forceLower(this);" required>
		</div>
		<!-- Password -->
		<div class="form-row mb-3">
			<div class="col">
				<!-- Password -->
				<input type="password" name="password" id="password" class="input-text form-control"
					   placeholder="Password" required>
			</div>
			<div class="col">
				<!-- Confirm Password -->
				<input type="password" name="confirm_password" id="confirm_password" class="input-text form-control"
					   placeholder="Confirm Password" required>
			</div>
		</div>

		<!--		&lt;!&ndash; Phone number &ndash;&gt;-->
		<!--		<input type="text" id="defaultRegisterPhonePassword" class="form-control" name="phone"-->
		<!--			   placeholder="Phone number"-->
		<!--			   aria-describedby="defaultRegisterFormPhoneHelpBlock">-->
		<!--		<small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">-->
		<!--			Optional - for two step authentication-->
		<!--		</small>-->


		<!-- Newsletter -->
		<!--
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
                </div>
        -->

		<!-- Sign up button -->
		<button class="btn btn-lightgreen my-4 btn-block" type="submit">Sign up</button>


		<div class="d-flex justify-content-around">
            <div>
                <!-- Forgot password -->
                <a href="{% url 'request-password' %}">Forgot password?</a>
            </div>
        </div>

		<hr>

		<!-- Terms of service -->
		<p>By clicking
			<em>Sign up</em> you agree to our
			<a href="" target="_blank">terms of service</a>
		</p>
	</form>
	<!-- Default form register -->

</div>

<script src="{% static 'js/base/common-js/jquery-3.3.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<script type="text/javascript">

	jQuery.validator.setDefaults({
		debug: true,
	  submitHandler: function(form){
		  form.submit()
		  }
  });
  $( "#register_form" ).validate({
		rules: {
		  password: {
				minlength: 8
		  },
		  email: {
			  remote: {
				  url: '{% url "check_email_notexists" %}',
				  type: 'GET'
			  }
		  },
		  username: {
			  minlength: 3,
			  maxlength: 25,
			  remote: {
				  url: '{% url "check_username_notexists" %}',
				  type: 'GET'
			  }
			},
			confirm_password: {
				minlength: 8,
				equalTo: "#password"
		  }
		},
		errorElement: 'small',
		
		messages: {
			first_name: {
				required: "Please enter First Name"
			},
			last_name: {
				required: "Please enter Last Name"
			},
			username: {
				required: "Please provide a username",
				remote: 'Username already exists'
			},
			email: {
				required: "Please provide an email",
				remote: 'Email already exist'
			},
			password: {
				minlength: jQuery.validator.format("At least {0} characters required!"),
				required: "Please enter Password"
			},
			confirm_password: {
				required: "Please enter Password",
				equalTo: "Password did not match"
		  }
		}
  });

function forceLower(strInput) 
{
strInput.value=strInput.value.toLowerCase();
}

</script>



{% endblock content %}
