{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/login/login-main.css' %}"/>


<div class="login-form">

    <!-- Default form login -->
    <form class="text-center border border-light p-5" action="request-reset-link" method="post" autocomplete="off" >
        {% csrf_token %}
        <p class="h4 mb-4">Enter your email to get reset link</p>

        <!-- Email -->
        <input type="email" class="form-control mb-4" placeholder="Email" name="email" value="{{values.email}}"
               required>

        <!-- Sign in button -->
        <button class="btn btn-lightgreen btn-block my-4" type="submit">Send Reset Link</button>

        <!-- Login -->
        <p>Remember Password?
            <a href="{% url 'login' %}">Login</a>
        </p>

        <!-- Register -->
        <p>Not a member?
            <a href="{% url 'register' %}">Register</a>
        </p>

    </form>
    <!-- Default form login -->
</div>


{% endblock content %}
