{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Jquery -->
<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
<link rel="stylesheet" href="{% static 'css/login/login-main.css' %}"/>


<div class="login-form">

    <!-- Default form login -->
    <form class="text-center border border-light p-5" action="{% url 'reset-user-password' uidb64 token %}"
          method="post"
          autocomplete="off" id="setpasswordform">
        {% csrf_token %}
        <p class="h4 mb-4">Set New Password</p>

        <!-- Password -->
        <input type="password" class="form-control mb-3" placeholder="Password" name="password" id="password" required>

                <!-- Confirm Password -->
        <input type="password" class="form-control mb-3" placeholder="Confirm Password" name="confirmpassword"
               id="confirmpassword"
               required>

        <!-- Sign in button -->
        <button class="btn btn-lightgreen btn-block my-4" type="submit">Set Password</button>

    </form>
    <!-- Default form login -->
</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<script>
<!--		 just for the demos, avoids form submit-->
		jQuery.validator.setDefaults({
		  	debug: true,
			submitHandler: function(form){
				form.submit()
   		 	}
		});
		$( "#setpasswordform" ).validate({
		  	rules: {
			    password: {
			    	minlength: 8
			    },
			    confirmpassword: {
		      		minlength: 8,
		      		equalTo: "#password"
		    	}
		  	},
		  	errorElement: 'small',
		  	messages: {
		  		password: {
	  				required: "Please enter Password"
		  		},
		  		confirmpassword: {
		  			required: "Please enter Password",
		      		equalTo: "Password did not match"
		    	}
		  	}
		});
</script>

{% endblock content %}
